Astra_Email_Extractor_v1_FINAL.json
{
  "name": "Astra Email Extractor v2",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        }
      },
      "id": "2",
      "name": "Get Row(s)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 3
      },
      "id": "3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"E-mail\"] || $json[\"E-mail 1\"] || $json[\"Email\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            },
            {
              "value1": "={{ ($json[\"E-mail 2\"] || $json[\"Email 2\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            },
            {
              "value1": "={{ ($json[\"E-mail 3\"] || $json[\" E-mail 3\"] || $json[\"Email 3\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4",
      "name": "Has Empty Email Slot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\n\nconst websiteKeys = [\n  'Веб-сайт 1', 'Веб-сайт 2', 'Веб-сайт 3', 'Веб-сайт',\n  'Сайт 1', 'Сайт 2', 'Сайт 3', 'Сайт',\n  'Website 1', 'Website 2', 'Website 3', 'Website',\n  'Site 1', 'Site 2', 'Site 3', 'Site',\n  'URL', 'Url', 'url', 'Домен', 'Domain',\n  'Главная страница', 'Homepage'\n];\n\nconst vkKeys = [\n  'ВКонтакте', 'Вконтакте', 'VK', 'vk', 'VK URL', 'vk_url',\n  'ВК', 'Группа ВК', 'Сообщество', 'Community'\n];\n\nconst telegramKeys = [\n  'Telegram 1', 'Telegram 2', 'Telegram 3',\n  'Telegram', 'telegram', 'Телеграм', 'Telegram URL', 'telegram_url',\n  'Канал', 'TG', 'tg', 'Telegram канал', 'Канал Telegram'\n];\n\nconst otherUrlKeys = [\n  '2GIS URL', '2ГИС', '2gis', 'Yandex URL', 'Я.Карты', 'Яндекс.Карты',\n  'Карта', 'Map URL', 'Instagram', 'instagram', 'Facebook', 'facebook',\n  'Twitter', 'twitter', 'YouTube', 'youtube', 'Youtube',\n  'WhatsApp 1', 'WhatsApp 2', 'WhatsApp 3', 'WhatsApp', 'Viber'\n];\n\nconst preferredKeys = [...websiteKeys, ...vkKeys, ...telegramKeys, ...otherUrlKeys];\n\nconst hintKeyRegex = /(сайт|веб|website|site|url|домен|вконтакте|\\bвк\\b|\\bvk\\b|telegram|телеграм|канал|t\\.me|instagram|инстаграм|facebook|2gis|2гис|yandex|яндекс|карт)/i;\n\nconst vkHostRegex = /^(?:www\\.|m\\.)?vk\\.(?:com|ru)$/i;\nconst telegramHostRegex = /^(?:www\\.)?(?:t\\.me|telegram\\.me|telegram\\.org)$/i;\nconst blockedSocialHostRegex = /^(?:www\\.)?(?:facebook\\.com|instagram\\.com|linkedin\\.com|twitter\\.com|x\\.com|youtube\\.com|youtu\\.be|tiktok\\.com|ok\\.ru|pinterest\\.com|threads\\.net|2gis\\.ru|2gis\\.com|2gis\\.kz|yandex\\.ru|maps\\.yandex\\.ru|google\\.com|maps\\.google\\.com|wa\\.me|whatsapp\\.com|api\\.whatsapp\\.com|chat\\.whatsapp\\.com|viber\\.com|viber\\.click|max\\.ru|max\\.me)$/i;\n\nconst seedBlockedHostRegex = /^(?:www\\.)?(?:wa\\.me|whatsapp\\.com|api\\.whatsapp\\.com|chat\\.whatsapp\\.com|viber\\.com|viber\\.click|max\\.ru|max\\.me|youtu\\.be|youtube\\.com|twitter\\.com|x\\.com|tiktok\\.com|pinterest\\.com|threads\\.net)$/i;\nconst allSocialHostRegex = /^(?:www\\.|m\\.)?(?:vk\\.com|vk\\.ru|t\\.me|telegram\\.me|telegram\\.org|facebook\\.com|instagram\\.com|linkedin\\.com|twitter\\.com|x\\.com|youtube\\.com|tiktok\\.com|ok\\.ru)$/i;\n\nconst deepPaths = [\n  '/contacts', '/contact', '/kontakty',\n  '/о-нас', '/o-nas', '/o-kompanii', '/about',\n  '/contact-us', '/about-us',\n  '/контакты', '/связаться',\n  '/info', '/feedback', '/team', '/команда'\n];\n\nconst maxSeedUrlsPerRow = 3;\nconst maxCrawlUrlsPerRow = 8;\nconst maxValueLength = 5000;\n\nconst clean = (value) => {\n  const s = String(value ?? '').trim();\n  return s.length > maxValueLength ? s.slice(0, maxValueLength) : s;\n};\n\nconst trimToken = (value) =>\n  clean(value).replace(/^[\\s\"'<>()[\\]{}]+|[\\s\"'<>()[\\]{}.,;:!]+$/g, '');\n\nconst looksLikeEmail = (value) =>\n  /^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,24}$/i.test(String(value || '').trim());\n\nconst normalizeUrl = (value) => {\n  let normalized = trimToken(value);\n  if (!normalized) return '';\n\n  if (/^[+\\d\\s().-]{6,}$/.test(normalized)) return '';\n  if (/^\\d+([.,]\\d+)?$/.test(normalized)) return '';\n  if (!/[a-zа-яё]/i.test(normalized)) return '';\n  if (looksLikeEmail(normalized)) return '';\n\n  if (!/^https?:\\/\\//i.test(normalized)) {\n    normalized = 'https://' + normalized.replace(/^\\/+/, '');\n  }\n\n  try {\n    const parsed = new URL(normalized);\n    const host = parsed.hostname;\n    if (!host || !host.includes('.')) return '';\n    if (!/[a-z]/i.test(host)) return '';\n    if (host.length < 4) return '';\n    if (parsed.username || parsed.password) return '';\n    if (seedBlockedHostRegex.test(host)) return '';\n    parsed.hash = '';\n    return parsed.toString();\n  } catch {\n    return '';\n  }\n};\n\nconst canonicalUrlKey = (url) => {\n  try {\n    const parsed = new URL(url);\n    const host = parsed.hostname.toLowerCase().replace(/^www\\./, '');\n    const pathname = parsed.pathname.replace(/\\/+$/g, '') || '/';\n    const search = parsed.search || '';\n    return host + pathname + search;\n  } catch {\n    return String(url || '').toLowerCase();\n  }\n};\n\nconst extractUrlTokens = (value) => {\n  const raw = clean(value);\n  if (!raw) return [];\n\n  const sanitized = raw.replace(/[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,24}/gi, ' ');\n\n  const tokens = new Set();\n\n  const splitParts = sanitized\n    .split(/[\\n,;|]+/)\n    .map(trimToken)\n    .filter(Boolean);\n\n  for (const part of splitParts) {\n    const normalized = normalizeUrl(part);\n    if (normalized) tokens.add(normalized);\n  }\n\n  const directMatches = sanitized.match(/https?:\\/\\/[^\\s\"'<>]+/gi) || [];\n  for (const match of directMatches) {\n    const normalized = normalizeUrl(match);\n    if (normalized) tokens.add(normalized);\n  }\n\n  const domainMatches = sanitized.match(/(?:[a-z0-9-]+\\.)+[a-z]{2,}(?:\\/[^\\s\"'<>]*)?/gi) || [];\n  for (const match of domainMatches) {\n    const normalized = normalizeUrl(match);\n    if (normalized) tokens.add(normalized);\n  }\n\n  return Array.from(tokens);\n};\n\nconst buildDeepEntries = (seedUrl) => {\n  const deepEntries = [];\n\n  let parsed;\n  try {\n    parsed = new URL(seedUrl);\n  } catch {\n    return deepEntries;\n  }\n\n  const host = parsed.hostname.toLowerCase();\n\n  if (vkHostRegex.test(host)) {\n    const slug = parsed.pathname.replace(/^\\/+|\\/+$/g, '');\n    if (slug) {\n      const mobileUrl = normalizeUrl('https://m.vk.com/' + slug);\n      if (mobileUrl) {\n        deepEntries.push({ url: mobileUrl, depth: 1, source: 'vk-mobile' });\n      }\n      const desktopUrl = normalizeUrl('https://vk.com/' + slug);\n      if (desktopUrl && canonicalUrlKey(desktopUrl) !== canonicalUrlKey(seedUrl)) {\n        deepEntries.push({ url: desktopUrl, depth: 1, source: 'vk-desktop' });\n      }\n    }\n    return deepEntries;\n  }\n\n  if (telegramHostRegex.test(host)) {\n    const slug = parsed.pathname.replace(/^\\/+|\\/+$/g, '').split('/')[0];\n    if (slug && slug !== 's' && !slug.startsWith('joinchat') && !slug.startsWith('+')) {\n      const previewUrl = normalizeUrl('https://t.me/s/' + slug);\n      if (previewUrl) {\n        deepEntries.push({ url: previewUrl, depth: 1, source: 'telegram-preview' });\n      }\n      const directUrl = normalizeUrl('https://t.me/' + slug);\n      if (directUrl && canonicalUrlKey(directUrl) !== canonicalUrlKey(seedUrl)) {\n        deepEntries.push({ url: directUrl, depth: 1, source: 'telegram-direct' });\n      }\n    }\n    return deepEntries;\n  }\n\n  if (blockedSocialHostRegex.test(host)) {\n    return deepEntries;\n  }\n\n  const origin = parsed.origin;\n  for (const path of deepPaths) {\n    const deepUrl = normalizeUrl(origin + path);\n    if (deepUrl) {\n      deepEntries.push({ url: deepUrl, depth: 1, source: 'deep:' + path });\n    }\n  }\n\n  return deepEntries;\n};\n\nconst outputItems = [];\n\ninputItems.forEach((item, sourceIndex) => {\n  try {\n  const row = item.json || {};\n  const seedCanonicalSet = new Set();\n  const seedCandidates = [];\n\n  const pushSeed = (url, sourceTag) => {\n    if (!url || seedCandidates.length >= maxSeedUrlsPerRow) return;\n\n    const key = canonicalUrlKey(url);\n    if (!key || seedCanonicalSet.has(key)) return;\n\n    seedCanonicalSet.add(key);\n    seedCandidates.push({ url, sourceTag });\n  };\n\n  const expandHandles = (key, rawValue) => {\n    const text = clean(rawValue);\n    if (!text) return [];\n\n    const isVkKey = vkKeys.includes(key);\n    const isTelegramKey = telegramKeys.includes(key);\n    if (!isVkKey && !isTelegramKey) return [];\n\n    const out = [];\n    const tokens = text.split(/[\\s,;|]+/).map((t) => t.trim()).filter(Boolean);\n\n    for (const token of tokens) {\n      const handle = token.replace(/^@+/, '').replace(/^https?:\\/\\//i, '').replace(/[^a-zA-Z0-9_./-]/g, '');\n      if (!handle || handle.length < 3 || handle.length > 64) continue;\n      if (/\\./.test(handle) && /^[a-z0-9-]+\\.[a-z]{2,}/i.test(handle)) continue;\n      const slug = handle.split('/').filter(Boolean)[0];\n      if (!slug) continue;\n\n      if (isTelegramKey) {\n        const url = normalizeUrl('https://t.me/' + slug);\n        if (url) out.push(url);\n      }\n      if (isVkKey) {\n        const url = normalizeUrl('https://vk.com/' + slug);\n        if (url) out.push(url);\n      }\n    }\n\n    return out;\n  };\n\n  for (const key of preferredKeys) {\n    if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n    if (!Object.prototype.hasOwnProperty.call(row, key)) continue;\n\n    const urls = extractUrlTokens(row[key]);\n    for (const url of urls) {\n      pushSeed(url, 'key:' + key);\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n    }\n\n    const handleUrls = expandHandles(key, row[key]);\n    for (const url of handleUrls) {\n      pushSeed(url, 'handle:' + key);\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n    }\n  }\n\n  if (seedCandidates.length < maxSeedUrlsPerRow) {\n    for (const [key, value] of Object.entries(row)) {\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      if (!hintKeyRegex.test(key)) continue;\n\n      const urls = extractUrlTokens(value);\n      for (const url of urls) {\n        pushSeed(url, 'hint:' + key);\n        if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      }\n    }\n  }\n\n  if (seedCandidates.length < maxSeedUrlsPerRow) {\n    for (const value of Object.values(row)) {\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n\n      const urls = extractUrlTokens(value);\n      for (const url of urls) {\n        pushSeed(url, 'any-value');\n        if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      }\n    }\n  }\n\n  const crawlSet = new Set();\n  const crawlEntries = [];\n\n  const pushCrawl = (entry, seed, seedIndex) => {\n    if (!entry?.url || crawlEntries.length >= maxCrawlUrlsPerRow) return;\n\n    const key = canonicalUrlKey(entry.url);\n    if (!key || crawlSet.has(key)) return;\n\n    crawlSet.add(key);\n\n    let targetHost = '';\n    let isSocial = false;\n    try {\n      const parsed = new URL(entry.url);\n      targetHost = parsed.hostname.replace(/^www\\./i, '').toLowerCase();\n      isSocial = allSocialHostRegex.test(parsed.hostname);\n    } catch {\n      targetHost = '';\n    }\n\n    crawlEntries.push({\n      json: {\n        ...row,\n        targetUrl: entry.url,\n        targetHost,\n        targetIsSocial: isSocial,\n        seed_url: seed.url,\n        seed_source: seed.sourceTag,\n        crawl_depth: entry.depth,\n        url_source: entry.depth === 0 ? seed.sourceTag : entry.source,\n        url_detected: true,\n        source_row_index: sourceIndex,\n        source_row_number: row.row_number ?? '',\n        source_url_rank: seedIndex + 1,\n        source_urls_count: seedCandidates.length,\n      },\n      pairedItem: { item: sourceIndex },\n    });\n  };\n\n  const deepPerSeed = [];\n\n  for (let seedIndex = 0; seedIndex < seedCandidates.length; seedIndex++) {\n    const seed = seedCandidates[seedIndex];\n    pushCrawl({ url: seed.url, depth: 0, source: 'seed' }, seed, seedIndex);\n    deepPerSeed[seedIndex] = buildDeepEntries(seed.url);\n  }\n\n  let deepCursor = 0;\n  let addedAny = true;\n\n  while (crawlEntries.length < maxCrawlUrlsPerRow && addedAny) {\n    addedAny = false;\n\n    for (let seedIndex = 0; seedIndex < seedCandidates.length; seedIndex++) {\n      if (crawlEntries.length >= maxCrawlUrlsPerRow) break;\n\n      const deepList = deepPerSeed[seedIndex] || [];\n      const deepEntry = deepList[deepCursor];\n      if (!deepEntry) continue;\n\n      pushCrawl(deepEntry, seedCandidates[seedIndex], seedIndex);\n      addedAny = true;\n    }\n\n    deepCursor += 1;\n  }\n\n  if (crawlEntries.length === 0) {\n    outputItems.push({\n      json: {\n        ...row,\n        targetUrl: '',\n        targetHost: '',\n        targetIsSocial: false,\n        seed_url: '',\n        seed_source: 'none',\n        crawl_depth: 0,\n        url_source: 'none',\n        url_detected: false,\n        source_row_index: sourceIndex,\n        source_row_number: row.row_number ?? '',\n        source_url_rank: 1,\n        source_urls_count: 0,\n      },\n      pairedItem: { item: sourceIndex },\n    });\n  } else {\n    outputItems.push(...crawlEntries);\n  }\n  } catch (err) {\n    outputItems.push({\n      json: {\n        ...(item.json || {}),\n        targetUrl: '',\n        targetHost: '',\n        targetIsSocial: false,\n        seed_url: '',\n        seed_source: 'select-url-error',\n        crawl_depth: 0,\n        url_source: 'error',\n        url_detected: false,\n        source_row_index: sourceIndex,\n        source_row_number: (item.json && item.json.row_number) ?? '',\n        source_url_rank: 1,\n        source_urls_count: 0,\n        select_url_error: String((err && err.message) || err),\n      },\n      pairedItem: { item: sourceIndex },\n    });\n  }\n});\n\nreturn outputItems;\n"
      },
      "id": "5",
      "name": "Select URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"targetUrl\"] || \"\").toString().trim() }}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "6",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json[\"targetUrl\"] }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "navigate"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "none"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "Cookie",
              "value": "remixlang=0"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html",
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "7",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map((item, idx) => {\n  try {\n    const j = item.json || {};\n    const out = { ...j };\n    if (out.html && typeof out.html === 'object') {\n      if (typeof out.html.body === 'string') {\n        out.statusCode = out.html.statusCode ?? out.statusCode ?? 0;\n        out.html = out.html.body;\n      } else {\n        try { out.html = JSON.stringify(out.html); } catch { out.html = String(out.html); }\n      }\n    }\n    if (typeof out.html !== 'string') out.html = out.html == null ? '' : String(out.html);\n    if (!out.statusCode && j.body && typeof j.body === 'string' && !out.html) out.html = j.body;\n    return { json: out, pairedItem: item.pairedItem ?? { item: idx } };\n  } catch (err) {\n    return { json: { ...(item.json || {}), html: '', normalize_error: String((err && err.message) || err) }, pairedItem: item.pairedItem ?? { item: idx } };\n  }\n});"
      },
      "id": "14",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\n\nconst emailRegex = /[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,24}/gi;\n\nconst obfuscatedEmailRegexEn =\n  /([a-z0-9._%+-]+)\\s*(?:\\[at\\]|\\(at\\)|\\{at\\}|\\sat\\s|\\{@\\}|＠|＠)\\s*([a-z0-9.-]+)\\s*(?:\\[dot\\]|\\(dot\\)|\\{dot\\}|\\sdot\\s|\\{\\.\\}|．)\\s*([a-z]{2,24})/gi;\n\nconst obfuscatedEmailRegexRu =\n  /([a-z0-9._%+-]+)\\s*(?:\\[собака\\]|\\(собака\\)|\\{собака\\}|\\sсобака\\s|\\[собачка\\]|\\(собачка\\)|\\sсобачка\\s|\\[at\\]|\\(at\\)|\\sat\\s)\\s*([a-z0-9.-]+)\\s*(?:\\[точка\\]|\\(точка\\)|\\{точка\\}|\\sточка\\s|\\[dot\\]|\\(dot\\)|\\sdot\\s)\\s*([a-z]{2,24})/gi;\n\nconst cfemailAttrRegex = /data-cfemail=[\"']([a-f0-9]{4,})[\"']/gi;\nconst mailtoRegex = /mailto:([^\\s\"'<>?]+)/gi;\n\nconst blockedDomains = [\n  '2gis.ru', '2gis.com', '2gis.kz',\n  'wixpress.com', 'wix.com',\n  'sentry.io', 'sentry-cdn.com',\n  'cloudflare.com', 'cloudfront.net',\n  'google.com', 'google.ru', 'googleapis.com', 'googleusercontent.com', 'gstatic.com', 'googletagmanager.com', 'google-analytics.com', 'doubleclick.net', 'googlesyndication.com',\n  'yandex.net',\n  'duckduckgo.com', 'bing.com',\n  'example.com', 'example.org', 'example.net', 'example.ru', 'domain.com', 'domain.ru', 'site.ru', 'mail.com',\n  'sentry-next.wixpress.com', 'parastorage.com',\n  'jsdelivr.net', 'unpkg.com', 'jquery.com',\n  'w3.org', 'schema.org',\n  'facebook.com', 'fbcdn.net', 'instagram.com', 'twitter.com',\n  'youtube.com', 'youtu.be', 'ytimg.com',\n  'vk.com', 'vk.ru', 'vkuser.net', 'vkuseraudio.net',\n  't.me', 'telegram.org',\n  'sentry-cdn.com', 'segment.io', 'segment.com', 'amplitude.com', 'mixpanel.com', 'hotjar.com', 'newrelic.com',\n  'tilda.cc', 'tildacdn.com', 'tildacdn.info',\n  'bitrix24.ru', 'bitrix.ru'\n];\n\nconst blockedLocalStarts = [\n  'noreply', 'no-reply', 'no_reply',\n  'donotreply', 'do-not-reply', 'do_not_reply',\n  'mailer-daemon', 'postmaster', 'abuse',\n  'wixsite', 'support@wix', 'hello@wix'\n];\n\nconst blockedExactPatterns = [\n  /^[a-f0-9]{16,}@/i,\n  /^[a-z0-9]{20,}@/i,\n  /sentry/i,\n  /\\.png$|\\.jpg$|\\.jpeg$|\\.gif$|\\.svg$|\\.webp$|\\.ico$/i,\n  /@[0-9]+x\\./i,\n  /@2x|@3x/i\n];\n\nconst validTldRegex = /\\.[a-z]{2,24}$/i;\n\nconst normalizeEmail = (value) =>\n  String(value)\n    .toLowerCase()\n    .replace(/^[\\s\"'<>()[\\]{}.,;:!]+|[\\s\"'<>()[\\]{}.,;:!]+$/g, '')\n    .replace(/\\s+/g, '');\n\nconst isBlocked = (email) => {\n  if (!email || !email.includes('@')) return true;\n\n  const atCount = (email.match(/@/g) || []).length;\n  if (atCount !== 1) return true;\n\n  const [local, domainRaw] = email.split('@');\n  const domain = String(domainRaw || '').toLowerCase();\n  const localPart = String(local || '').toLowerCase();\n\n  if (!localPart || !domain) return true;\n  if (localPart.length < 1 || localPart.length > 64) return true;\n  if (domain.length < 4 || domain.length > 253) return true;\n  if (!validTldRegex.test(domain)) return true;\n  if (!domain.includes('.')) return true;\n\n  if (blockedLocalStarts.some((prefix) => localPart.startsWith(prefix))) return true;\n  if (blockedExactPatterns.some((re) => re.test(email))) return true;\n\n  return blockedDomains.some(\n    (blocked) => domain === blocked || domain.endsWith('.' + blocked)\n  );\n};\n\nconst decodeHtmlEntitiesLite = (text) =>\n  String(text)\n    .replace(/&commat;/gi, '@')\n    .replace(/&#0*64;/g, '@')\n    .replace(/&#x0*40;/gi, '@')\n    .replace(/&dot;/gi, '.')\n    .replace(/&#0*46;/g, '.')\n    .replace(/&#x0*2e;/gi, '.')\n    .replace(/&amp;/gi, '&')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&#0*32;/g, ' ');\n\nconst decodeCfEmail = (hex) => {\n  if (!hex || typeof hex !== 'string' || hex.length < 4) return '';\n  try {\n    const r = parseInt(hex.substr(0, 2), 16);\n    if (Number.isNaN(r)) return '';\n    let email = '';\n    for (let n = 2; n < hex.length; n += 2) {\n      const code = parseInt(hex.substr(n, 2), 16);\n      if (Number.isNaN(code)) return '';\n      email += String.fromCharCode(code ^ r);\n    }\n    return email;\n  } catch {\n    return '';\n  }\n};\n\nconst extractFromCfemail = (text) => {\n  const found = new Set();\n  const raw = String(text || '');\n\n  for (const match of raw.matchAll(cfemailAttrRegex)) {\n    const decoded = decodeCfEmail(match[1] || '');\n    if (decoded && decoded.includes('@')) {\n      const email = normalizeEmail(decoded);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n  }\n\n  const cfemailHrefRegex = /\\/cdn-cgi\\/l\\/email-protection#([a-f0-9]{4,})/gi;\n  for (const match of raw.matchAll(cfemailHrefRegex)) {\n    const decoded = decodeCfEmail(match[1] || '');\n    if (decoded && decoded.includes('@')) {\n      const email = normalizeEmail(decoded);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n  }\n\n  return Array.from(found);\n};\n\nconst extractFromJsonLd = (html) => {\n  const found = new Set();\n  const blockRegex = /<script\\b[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  const raw = String(html || '');\n\n  for (const match of raw.matchAll(blockRegex)) {\n    const jsonText = (match[1] || '').trim();\n    if (!jsonText) continue;\n\n    let parsed;\n    try {\n      parsed = JSON.parse(jsonText);\n    } catch {\n      const innerEmails = jsonText.match(emailRegex) || [];\n      for (const e of innerEmails) {\n        const email = normalizeEmail(e);\n        if (email && !isBlocked(email)) found.add(email);\n      }\n      continue;\n    }\n\n    const visit = (node) => {\n      if (!node) return;\n      if (typeof node === 'string') {\n        const matches = node.match(emailRegex) || [];\n        for (const m of matches) {\n          const email = normalizeEmail(m);\n          if (email && !isBlocked(email)) found.add(email);\n        }\n        return;\n      }\n      if (Array.isArray(node)) {\n        for (const child of node) visit(child);\n        return;\n      }\n      if (typeof node === 'object') {\n        for (const key of Object.keys(node)) visit(node[key]);\n      }\n    };\n\n    visit(parsed);\n  }\n\n  return Array.from(found);\n};\n\nconst extractEmailsFromText = (text) => {\n  const found = new Set();\n\n  const raw = String(text || '');\n  const decodedEntity = decodeHtmlEntitiesLite(raw);\n  let decodedUri = decodedEntity;\n\n  try {\n    decodedUri = decodeURIComponent(decodedEntity);\n  } catch {\n    decodedUri = decodedEntity;\n  }\n\n  const variants = [raw, decodedEntity, decodedUri];\n\n  for (const variant of variants) {\n    const normalizedVariant = String(variant || '');\n\n    const normalMatches = normalizedVariant.match(emailRegex) || [];\n    for (const match of normalMatches) {\n      const email = normalizeEmail(match);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n\n    for (const m of normalizedVariant.matchAll(mailtoRegex)) {\n      const rawMail = (m[1] || '').split('?')[0];\n      const email = normalizeEmail(rawMail);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n\n    for (const obf of normalizedVariant.matchAll(obfuscatedEmailRegexEn)) {\n      const local = normalizeEmail(obf[1] || '');\n      const domain = normalizeEmail(obf[2] || '');\n      const zone = normalizeEmail(obf[3] || '');\n      const reconstructed = normalizeEmail(local + '@' + domain + '.' + zone);\n      if (reconstructed && !isBlocked(reconstructed)) found.add(reconstructed);\n    }\n\n    for (const obf of normalizedVariant.matchAll(obfuscatedEmailRegexRu)) {\n      const local = normalizeEmail(obf[1] || '');\n      const domain = normalizeEmail(obf[2] || '');\n      const zone = normalizeEmail(obf[3] || '');\n      const reconstructed = normalizeEmail(local + '@' + domain + '.' + zone);\n      if (reconstructed && !isBlocked(reconstructed)) found.add(reconstructed);\n    }\n  }\n\n  return Array.from(found);\n};\n\nconst maxHtmlLength = 1500000;\n\nconst buckets = new Map();\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  try {\n  const item = inputItems[idx];\n  const currentJson = item.json || {};\n\n  const explicitSourceIndex = Number(currentJson.source_row_index);\n  const sourceIndex = Number.isInteger(explicitSourceIndex) && explicitSourceIndex >= 0\n    ? explicitSourceIndex\n    : idx;\n\n  if (!buckets.has(sourceIndex)) {\n    buckets.set(sourceIndex, {\n      mergedJson: { ...currentJson },\n      emailsSet: new Set(),\n      fetchedUrls: new Set(),\n      successUrls: new Set(),\n      hasFetchError: false,\n      maxStatusCode: 0,\n    });\n  }\n\n  const bucket = buckets.get(sourceIndex);\n  bucket.mergedJson = { ...bucket.mergedJson, ...currentJson };\n\n  let htmlRaw = String(\n    currentJson.html ?? currentJson.body ?? currentJson.data ?? currentJson.response ?? ''\n  );\n  if (htmlRaw.length > maxHtmlLength) htmlRaw = htmlRaw.slice(0, maxHtmlLength);\n\n  const statusCode = Number(currentJson.statusCode || currentJson.status || 0);\n  if (statusCode && statusCode > bucket.maxStatusCode) bucket.maxStatusCode = statusCode;\n\n  const prepared = htmlRaw\n    .replace(/<script\\b[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style\\b[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<!--([\\s\\S]*?)-->/g, ' ');\n\n  const fromText = extractEmailsFromText(prepared);\n  for (const email of fromText) bucket.emailsSet.add(email);\n\n  const fromCfemail = extractFromCfemail(htmlRaw);\n  for (const email of fromCfemail) bucket.emailsSet.add(email);\n\n  const fromJsonLd = extractFromJsonLd(htmlRaw);\n  for (const email of fromJsonLd) bucket.emailsSet.add(email);\n\n  const fetchedUrl = String(currentJson.targetUrl || '').trim();\n  if (fetchedUrl) {\n    bucket.fetchedUrls.add(fetchedUrl);\n    const isSuccess = htmlRaw.length > 0 && (!statusCode || statusCode < 400);\n    if (isSuccess) bucket.successUrls.add(fetchedUrl);\n  }\n\n  if (currentJson.error || (statusCode && statusCode >= 400)) {\n    bucket.hasFetchError = true;\n  }\n  if (!htmlRaw && fetchedUrl) {\n    bucket.hasFetchError = true;\n  }\n  } catch (err) {\n    const fallbackJson = (inputItems[idx] && inputItems[idx].json) || {};\n    const fallbackKey = Number.isInteger(Number(fallbackJson.source_row_index))\n      ? Number(fallbackJson.source_row_index)\n      : idx;\n    if (!buckets.has(fallbackKey)) {\n      buckets.set(fallbackKey, {\n        mergedJson: { ...fallbackJson },\n        emailsSet: new Set(),\n        fetchedUrls: new Set(),\n        successUrls: new Set(),\n        hasFetchError: true,\n        maxStatusCode: 0,\n      });\n    }\n    const bucket = buckets.get(fallbackKey);\n    bucket.hasFetchError = true;\n    bucket.mergedJson.extract_error = String((err && err.message) || err);\n  }\n}\n\nconst sourceIndexes = Array.from(buckets.keys()).sort((a, b) => a - b);\n\nreturn sourceIndexes.map((sourceIndex) => {\n  const bucket = buckets.get(sourceIndex);\n  const mergedJson = { ...bucket.mergedJson };\n  const newEmails = Array.from(bucket.emailsSet);\n\n  const existing1 = String(mergedJson['E-mail'] ?? mergedJson['E-mail 1'] ?? mergedJson['Email'] ?? '').trim().toLowerCase();\n  const existing2 = String(mergedJson['E-mail 2'] ?? mergedJson['Email 2'] ?? '').trim().toLowerCase();\n  const existing3 = String(mergedJson['E-mail 3'] ?? mergedJson[' E-mail 3'] ?? mergedJson['Email 3'] ?? '').trim().toLowerCase();\n\n  const existingList = [existing1, existing2, existing3].filter(Boolean);\n  const existingSet = new Set(existingList);\n\n  const merged = [];\n  for (const e of existingList) {\n    if (!merged.includes(e)) merged.push(e);\n  }\n  for (const e of newEmails) {\n    if (!merged.includes(e)) merged.push(e);\n  }\n\n  const final1 = merged[0] || '';\n  const final2 = merged[1] || '';\n  const final3 = merged[2] || '';\n\n  const trulyNewEmails = newEmails.filter((e) => !existingSet.has(e));\n\n  mergedJson.source_row_index = sourceIndex;\n  mergedJson.parsed_urls = Array.from(bucket.fetchedUrls);\n  mergedJson.parsed_urls_count = mergedJson.parsed_urls.length;\n  mergedJson.success_urls_count = bucket.successUrls.size;\n  mergedJson.max_status_code = bucket.maxStatusCode;\n\n  mergedJson.emails_array = merged;\n  mergedJson.emails_string = merged.join(', ');\n  mergedJson.new_emails = trulyNewEmails;\n  mergedJson.new_emails_count = trulyNewEmails.length;\n\n  mergedJson.email_1 = final1;\n  mergedJson.email_2 = final2;\n  mergedJson.email_3 = final3;\n  mergedJson.ID = mergedJson.ID ?? '';\n\n  if (newEmails.length > 0) {\n    mergedJson.parse_status = trulyNewEmails.length > 0 ? 'emails_found' : 'emails_unchanged';\n  } else if (bucket.hasFetchError && bucket.successUrls.size === 0) {\n    mergedJson.parse_status = 'fetch_error';\n  } else if (bucket.fetchedUrls.size === 0) {\n    mergedJson.parse_status = 'no_url';\n  } else {\n    mergedJson.parse_status = 'no_email_found';\n  }\n\n  delete mergedJson.html;\n  delete mergedJson.body;\n  delete mergedJson.data;\n  delete mergedJson.response;\n  delete mergedJson.headers;\n\n  return {\n    json: mergedJson,\n    pairedItem: { item: sourceIndex },\n  };\n});\n"
      },
      "id": "8",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map((item, idx) => {\n  try {\n    const j = item.json || {};\n    return {\n      json: {\n        ...j,\n        email_1: (j['E-mail'] || j['E-mail 1'] || j['Email'] || '').toString(),\n        email_2: (j['E-mail 2'] || j['Email 2'] || '').toString(),\n        email_3: (j['E-mail 3'] || j[' E-mail 3'] || j['Email 3'] || '').toString(),\n        emails_array: [],\n        emails_string: '',\n        new_emails: [],\n        new_emails_count: 0,\n        parse_status: 'no_url',\n        parsed_urls: [],\n        parsed_urls_count: 0,\n        success_urls_count: 0,\n        max_status_code: 0,\n      },\n      pairedItem: item.pairedItem ?? { item: idx },\n    };\n  } catch (err) {\n    return { json: { ...(item.json || {}), parse_status: 'no_url', mark_no_url_error: String((err && err.message) || err) }, pairedItem: item.pairedItem ?? { item: idx } };\n  }\n});"
      },
      "id": "15",
      "name": "Mark No URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst stats = { total: items.length, emails_found: 0, no_email_found: 0, no_url: 0, fetch_error: 0, emails_unchanged: 0, other: 0 };\nconst sample = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const status = j.parse_status || 'other';\n  if (stats[status] === undefined) stats.other++; else stats[status]++;\n  if (sample.length < 5 && j.new_emails_count > 0) {\n    sample.push({ row: j.row_number ?? j.source_row_number ?? '?', name: j['Наименование'] || j.name || '?', emails: j.new_emails || [] });\n  }\n}\nconsole.log('[Astra] Batch progress:', JSON.stringify(stats));\nif (sample.length) console.log('[Astra] Sample new emails:', JSON.stringify(sample));\nreturn items;"
      },
      "id": "16",
      "name": "Progress Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"row_number\"] || $json[\"source_row_number\"] || \"\").toString() }}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "9",
      "name": "Has row_number?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const j = item.json || {};\n  console.log('[Astra] No row_number/ID for row', JSON.stringify({\n    name: j['Наименование'] || j.name,\n    parse_status: j.parse_status,\n    parsed_urls_count: j.parsed_urls_count,\n  }));\n}\nreturn items;"
      },
      "id": "10",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json[\"new_emails_count\"] || 0) }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "18",
      "name": "Has new emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map((item, idx) => {\n  try {\n    const j = item.json || {};\n    const rowNumber = j.row_number ?? j.source_row_number ?? '';\n    if (rowNumber === '' || rowNumber == null) return null;\n    const email1Col = ('E-mail' in j) ? 'E-mail' : ('E-mail 1' in j ? 'E-mail 1' : 'E-mail');\n    const email2Col = ('E-mail 2' in j) ? 'E-mail 2' : ('Email 2' in j ? 'Email 2' : 'E-mail 2');\n    const email3Col = (' E-mail 3' in j) ? ' E-mail 3' : (('E-mail 3' in j) ? 'E-mail 3' : (('Email 3' in j) ? 'Email 3' : 'E-mail 3'));\n    const out = { row_number: rowNumber };\n    out[email1Col] = j.email_1 || '';\n    out[email2Col] = j.email_2 || '';\n    out[email3Col] = j.email_3 || '';\n    return { json: out, pairedItem: item.pairedItem ?? { item: idx } };\n  } catch (err) {\n    return null;\n  }\n}).filter(Boolean);"
      },
      "id": "17",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(() => ({ json: {} }));"
      },
      "id": "19",
      "name": "Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "row_number",
        "options": {}
      },
      "id": "11",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2820,
        220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Has Empty Email Slot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Empty Email Slot?": {
      "main": [
        [
          {
            "node": "Select URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select URL": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark No URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark No URL": {
      "main": [
        [
          {
            "node": "Progress Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "Progress Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Log": {
      "main": [
        [
          {
            "node": "Has row_number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has row_number?": {
      "main": [
        [
          {
            "node": "Has new emails?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has new emails?": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "executionTimeout": -1
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "1"
}