Astra_Email_Extractor_v2_FIXED.json
{
  "name": "Astra Email Extractor v2 FIXED",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1RDa3Ui_N4wXK5tzeeyNoXjUknjFoT7S62D_j38MyEjk"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "options": {
          "headerRow": 1,
          "includeRowNumber": true
        }
      },
      "id": "2",
      "name": "Get Row(s)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 3
      },
      "id": "3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"E-mail\"] || $json[\"E-mail 1\"] || $json[\"Email\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            },
            {
              "value1": "={{ ($json[\"E-mail 2\"] || $json[\"Email 2\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            },
            {
              "value1": "={{ ($json[\"E-mail 3\"] || $json[\" E-mail 3\"] || $json[\"Email 3\"] || \"\").toString().trim() }}",
              "operation": "isEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4",
      "name": "Has Empty Email Slot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Select URL v4 — Pure regex URL parsing (no URL constructor, works in all n8n sandboxes)\r\n// ROOT CAUSE FIX: n8n Code node runs in vm.createContext({}) where 'URL' is undefined.\r\n// new URL() inside fixUrl was silently catching ReferenceError -> returning '' -> no seeds found.\r\nconst inputItems = $input.all();\r\n\r\nconst URL_FIELD_PRIORITY = [\r\n  'Веб-сайт', 'Веб-сайт 1', 'Веб-сайт 2', 'Веб-сайт 3',\r\n  'Сайт', 'Сайт 1', 'Сайт 2', 'Сайт 3',\r\n  'Website', 'Website 1', 'Website 2', 'Website 3',\r\n  'Site', 'Site 1', 'Site 2', 'Site 3',\r\n  'URL', 'Url', 'url', 'Домен', 'Domain', 'Главная страница', 'Homepage',\r\n  'ВКонтакте', 'Вконтакте', 'VK', 'vk', 'VK URL',\r\n  'Telegram 1', 'Telegram 2', 'Telegram 3', 'Telegram', 'telegram', 'Телеграм',\r\n  '2GIS URL', '2ГИС',\r\n];\r\n\r\nconst BLOCKED_SEED = /^(www\\.)?(wa\\.me|whatsapp\\.com|api\\.whatsapp\\.com|chat\\.whatsapp\\.com|viber\\.com|viber\\.click|max\\.ru|max\\.me|youtu\\.be|youtube\\.com|twitter\\.com|x\\.com|tiktok\\.com|pinterest\\.com|threads\\.net)$/i;\r\nconst VK_HOST = /^(www\\.|m\\.)?vk\\.(com|ru)$/i;\r\nconst TG_HOST = /^(www\\.)?(t\\.me|telegram\\.me|telegram\\.org)$/i;\r\nconst SOCIAL_HOST = /^(www\\.|m\\.)?(vk\\.com|vk\\.ru|t\\.me|telegram\\.me|telegram\\.org|facebook\\.com|instagram\\.com|linkedin\\.com|twitter\\.com|x\\.com|youtube\\.com|tiktok\\.com|ok\\.ru)$/i;\r\n\r\nconst DEEP_PATHS = [\r\n  '/contacts', '/contact', '/kontakty',\r\n  '/o-nas', '/o-kompanii', '/about', '/about-us', '/contact-us',\r\n  '/info', '/feedback',\r\n];\r\n\r\nconst MAX_CRAWL = 8;\r\n\r\n// Get hostname from URL using regex (no URL constructor)\r\nfunction getHost(url) {\r\n  const m = String(url || '').match(/^https?:\\/\\/([^\\/:?#\\s]+)/i);\r\n  if (!m) return '';\r\n  return m[1].toLowerCase().replace(/^www\\./, '');\r\n}\r\n\r\n// Get origin (scheme+host) from URL using regex\r\nfunction getOrigin(url) {\r\n  const m = String(url || '').match(/^(https?:\\/\\/[^\\/:?#\\s]+)/i);\r\n  return m ? m[1] : '';\r\n}\r\n\r\n// Canonical deduplication key\r\nfunction canonKey(url) {\r\n  return String(url || '').trim().toLowerCase().replace(/#.*$/, '').replace(/\\/+$/, '') || String(url || '').toLowerCase();\r\n}\r\n\r\n// Normalize and validate URL — pure regex, no URL constructor\r\nfunction fixUrl(raw) {\r\n  const s = String(raw == null ? '' : raw).replace(/[\\u0000-\\u001f]/g, '').trim();\r\n  if (!s) return '';\r\n  if (/^[+\\d\\s().\\-]{5,}$/.test(s)) return '';\r\n  if (/^[a-z0-9._%+\\-]+@/i.test(s)) return '';\r\n  const withScheme = /^https?:\\/\\//i.test(s) ? s : 'http://' + s.replace(/^\\/+/, '');\r\n  const hm = withScheme.match(/^https?:\\/\\/([^\\/:?#\\s@]+)/i);\r\n  if (!hm) return '';\r\n  const h = hm[1].toLowerCase();\r\n  if (!h || !h.includes('.') || h.length < 4) return '';\r\n  if (!/[a-z]/i.test(h)) return '';\r\n  if (BLOCKED_SEED.test(h.replace(/^www\\./, ''))) return '';\r\n  return withScheme.replace(/#.*$/, '');\r\n}\r\n\r\nfunction extractFromValue(val) {\r\n  const s = String(val == null ? '' : val).trim();\r\n  if (!s) return [];\r\n  const found = [];\r\n  const seen = new Set();\r\n  const add = (u) => {\r\n    const fixed = fixUrl(u);\r\n    if (fixed) { const k = canonKey(fixed); if (!seen.has(k)) { seen.add(k); found.push(fixed); } }\r\n  };\r\n  const direct = s.match(/https?:\\/\\/[^\\s\"'<>]+/gi) || [];\r\n  direct.forEach(add);\r\n  const domains = s.match(/(?:[a-z0-9\\-]+\\.)+[a-z]{2,}(?:\\/[^\\s\"'<>]*)?/gi) || [];\r\n  domains.forEach(add);\r\n  s.split(/[,;|\\n]+/).forEach(part => add(part.trim()));\r\n  return found;\r\n}\r\n\r\nconst outputItems = [];\r\n\r\nfor (let sourceIndex = 0; sourceIndex < inputItems.length; sourceIndex++) {\r\n  try {\r\n    const item = inputItems[sourceIndex];\r\n    let row;\r\n    try {\r\n      const serialized = JSON.stringify(item.json || {});\r\n      row = JSON.parse(serialized);\r\n    } catch {\r\n      row = {};\r\n    }\r\n\r\n    if (sourceIndex === 0) {\r\n      const allK = Object.keys(row);\r\n      console.log('[SelectURL v4] batch=' + inputItems.length + ' keys=' + JSON.stringify(allK.slice(0, 20)));\r\n      console.log('[SelectURL v4] Веб-сайт_1=' + JSON.stringify(row['\\u0412\\u0435\\u0431-\\u0441\\u0430\\u0439\\u0442 1']) + ' 2GIS=' + JSON.stringify(row['2GIS URL']));\r\n    }\r\n\r\n    const rowNumber = row.row_number;\r\n    const stableKey = (rowNumber !== null && rowNumber !== undefined && String(rowNumber).trim() !== '')\r\n      ? String(rowNumber).trim()\r\n      : String(sourceIndex);\r\n\r\n    const seedCandidates = [];\r\n    const seenSeeds = new Set();\r\n\r\n    const addSeed = (url, tag) => {\r\n      if (seedCandidates.length >= 3) return;\r\n      const k = canonKey(url);\r\n      if (!k || seenSeeds.has(k)) return;\r\n      seenSeeds.add(k);\r\n      seedCandidates.push({ url, tag });\r\n    };\r\n\r\n    // Pass 1: check known URL fields in priority order\r\n    for (let fi = 0; fi < URL_FIELD_PRIORITY.length; fi++) {\r\n      if (seedCandidates.length >= 3) break;\r\n      const fieldName = URL_FIELD_PRIORITY[fi];\r\n      const fieldVal = row[fieldName];\r\n      if (fieldVal == null || fieldVal === '') continue;\r\n      const urls = extractFromValue(String(fieldVal));\r\n      for (let ui = 0; ui < urls.length && seedCandidates.length < 3; ui++) {\r\n        addSeed(urls[ui], 'field:' + fieldName);\r\n      }\r\n    }\r\n\r\n    // Pass 2: scan all fields for any URL-like content\r\n    if (seedCandidates.length < 3) {\r\n      const allKeys = Object.keys(row);\r\n      for (let ki = 0; ki < allKeys.length && seedCandidates.length < 3; ki++) {\r\n        const v = row[allKeys[ki]];\r\n        if (v == null || v === '') continue;\r\n        const sv = String(v);\r\n        if (!/https?:\\/\\//i.test(sv) && !sv.includes('.')) continue;\r\n        const urls = extractFromValue(sv);\r\n        for (let ui = 0; ui < urls.length && seedCandidates.length < 3; ui++) {\r\n          addSeed(urls[ui], 'scan:' + allKeys[ki]);\r\n        }\r\n      }\r\n    }\r\n\r\n    console.log('[SelectURL v4] row=' + stableKey + ' seeds=' + seedCandidates.length + (seedCandidates.length ? ' urls=' + seedCandidates.map(x => x.url).join(' | ') : ''));\r\n\r\n    if (seedCandidates.length === 0) {\r\n      outputItems.push({\r\n        json: {\r\n          ...row,\r\n          targetUrl: '', targetHost: '', targetIsSocial: false,\r\n          seed_url: '', seed_source: 'none', crawl_depth: 0, url_source: 'none',\r\n          url_detected: false, source_row_index: sourceIndex,\r\n          source_row_stable_key: stableKey, source_row_number: rowNumber ?? '',\r\n          source_url_rank: 1, source_urls_count: 0,\r\n        },\r\n        pairedItem: { item: sourceIndex },\r\n      });\r\n      continue;\r\n    }\r\n\r\n    const crawlList = [];\r\n    const seenCrawl = new Set();\r\n\r\n    const addCrawl = (url, depth, source, seedUrl, seedTag) => {\r\n      if (crawlList.length >= MAX_CRAWL) return;\r\n      const k = canonKey(url);\r\n      if (!k || seenCrawl.has(k)) return;\r\n      seenCrawl.add(k);\r\n      const host = getHost(url);\r\n      crawlList.push({ url, depth, source, seedUrl, seedTag, targetHost: host, targetIsSocial: SOCIAL_HOST.test(host) });\r\n    };\r\n\r\n    for (let si = 0; si < seedCandidates.length; si++) {\r\n      const seed = seedCandidates[si];\r\n      addCrawl(seed.url, 0, seed.tag, seed.url, seed.tag);\r\n      const host = getHost(seed.url);\r\n      if (VK_HOST.test(host)) {\r\n        const slugM = seed.url.match(/^https?:\\/\\/[^\\/]+\\/(.+?)\\/?$/i);\r\n        const slug = slugM ? slugM[1] : '';\r\n        if (slug) addCrawl('https://m.vk.com/' + slug, 1, 'vk-mobile', seed.url, seed.tag);\r\n      } else if (TG_HOST.test(host)) {\r\n        const slugM = seed.url.match(/^https?:\\/\\/[^\\/]+\\/([^\\/+][^\\/]*)\\/?$/i);\r\n        const slug = slugM ? slugM[1].split('/')[0] : '';\r\n        if (slug && slug !== 's' && !slug.startsWith('+') && !slug.startsWith('joinchat')) {\r\n          addCrawl('https://t.me/s/' + slug, 1, 'tg-preview', seed.url, seed.tag);\r\n        }\r\n      } else {\r\n        const origin = getOrigin(seed.url);\r\n        if (origin) {\r\n          for (let pi = 0; pi < DEEP_PATHS.length && crawlList.length < MAX_CRAWL; pi++) {\r\n            const deep = fixUrl(origin + DEEP_PATHS[pi]);\r\n            if (deep) addCrawl(deep, 1, 'deep:' + DEEP_PATHS[pi], seed.url, seed.tag);\r\n          }\r\n        }\r\n      }\r\n    }\r\n\r\n    for (let ci = 0; ci < crawlList.length; ci++) {\r\n      const entry = crawlList[ci];\r\n      outputItems.push({\r\n        json: {\r\n          ...row,\r\n          targetUrl: entry.url,\r\n          targetHost: entry.targetHost,\r\n          targetIsSocial: entry.targetIsSocial,\r\n          seed_url: entry.seedUrl,\r\n          seed_source: entry.seedTag,\r\n          crawl_depth: entry.depth,\r\n          url_source: entry.source,\r\n          url_detected: true,\r\n          source_row_index: sourceIndex,\r\n          source_row_stable_key: stableKey,\r\n          source_row_number: rowNumber ?? '',\r\n          source_url_rank: ci + 1,\r\n          source_urls_count: crawlList.length,\r\n        },\r\n        pairedItem: { item: sourceIndex },\r\n      });\r\n    }\r\n  } catch (err) {\r\n    const row = (inputItems[sourceIndex] && inputItems[sourceIndex].json) || {};\r\n    const stableKey = (row.row_number != null && String(row.row_number).trim() !== '')\r\n      ? String(row.row_number).trim() : String(sourceIndex);\r\n    outputItems.push({\r\n      json: {\r\n        ...row,\r\n        targetUrl: '', targetHost: '', targetIsSocial: false,\r\n        seed_url: '', seed_source: 'select-url-error', crawl_depth: 0, url_source: 'error',\r\n        url_detected: false, source_row_index: sourceIndex,\r\n        source_row_stable_key: stableKey, source_row_number: (row.row_number ?? ''),\r\n        source_url_rank: 1, source_urls_count: 0,\r\n        select_url_error: String((err && err.message) || err),\r\n      },\r\n      pairedItem: { item: sourceIndex },\r\n    });\r\n  }\r\n}\r\n\r\nreturn outputItems;\r\n"
      },
      "id": "5",
      "name": "Select URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"targetUrl\"] || \"\").toString().trim() }}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "6",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json[\"targetUrl\"] }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html",
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "7",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Normalize Response v7\n// With fullResponse:false + outputPropertyName:'html', HTTP Request node\n// ADDS html property to the existing item WITHOUT removing original fields.\n// So $json already has row_number, targetUrl, source_row_stable_key, etc.\nconst item = $input.item.json || {};\n\nlet html = item.html || '';\nif (html && typeof html === 'object') {\n  try { html = JSON.stringify(html); } catch(e) { html = String(html); }\n}\nif (typeof html !== 'string') html = html == null ? '' : String(html);\n\n// statusCode: HTTP node doesn't expose it with fullResponse:false\n// We set 200 if we got HTML, 0 otherwise (timeout/error sets empty html)\nconst statusCode = html.length > 0 ? 200 : 0;\n\nreturn {\n  json: {\n    ...item,\n    html,\n    statusCode,\n  },\n};"
      },
      "id": "14",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\n\nconst emailRegex = /[a-z0-9._%+-]+@[a-z0-9\\-._]*[a-z0-9а-яё-]+\\.(?:[a-zа-яё]{2,24}|xn--[a-z0-9-]{2,58})/giu;\nconst emailValidationRegex = /^[a-z0-9._%+-]+@[a-z0-9\\-._]*[a-z0-9а-яё-]+\\.(?:[a-zа-яё]{2,24}|xn--[a-z0-9-]{2,58})$/iu;\nconst mailtoRegex = /mailto:([^\\s\"'<>]+)/gi;\n\nconst obfuscatedEmailRegexEn =\n  /([a-z0-9._%+-]+)\\s*(?:\\[at\\]|\\(at\\)|\\{at\\}|\\sat\\s|\\{@\\}|＠)\\s*([a-z0-9а-яё.-]+)\\s*(?:\\[dot\\]|\\(dot\\)|\\{dot\\}|\\sdot\\s|\\{\\.\\}|．)\\s*([a-zа-яё]{2,24}|xn--[a-z0-9-]{2,58})/giu;\n\nconst obfuscatedEmailRegexRu =\n  /([a-z0-9._%+-]+)\\s*(?:\\[собака\\]|\\(собака\\)|\\{собака\\}|\\sсобака\\s|\\[собачка\\]|\\(собачка\\)|\\sсобачка\\s|\\[at\\]|\\(at\\)|\\sat\\s)\\s*([a-z0-9а-яё.-]+)\\s*(?:\\[точка\\]|\\(точка\\)|\\{точка\\}|\\sточка\\s|\\[dot\\]|\\(dot\\)|\\sdot\\s)\\s*([a-zа-яё]{2,24}|xn--[a-z0-9-]{2,58})/giu;\n\nconst ruLabelRegex = /(?:почта|электронная\\s*почта|e-?mail|пишите\\s+на)\\s*[:\\-–]?\\s*([a-z0-9._%+-]+@[a-z0-9\\-._]*[a-z0-9а-яё-]+\\.(?:[a-zа-яё]{2,24}|xn--[a-z0-9-]{2,58}))/giu;\nconst dataAttrRegex = /\\bdata-(?:e-?mail|mail)\\s*=\\s*[\"']([^\"']+)[\"']/giu;\nconst itempropEmailRegex = /<[^>]*\\bitemprop\\s*=\\s*[\"']email[\"'][^>]*>([\\s\\S]{0,300}?)<\\/[^>]+>|\\bitemprop\\s*=\\s*[\"']email[\"'][^>]*\\bcontent\\s*=\\s*[\"']([^\"']+)[\"']/giu;\nconst cfEncodedRegex = /data-cfemail\\s*=\\s*[\"']([a-f0-9]{4,})[\"']/gi;\nconst cfemailHrefRegex = /\\/cdn-cgi\\/l\\/email-protection#([a-f0-9]{4,})/gi;\n\nconst blockedLocalPatterns = [\n  /^example/i, /^test/i, /^noreply/i, /^no-reply/i, /^donotreply/i,\n  /^mailer-daemon$/i, /^postmaster$/i, /^abuse$/i, /^webmaster$/i,\n  /^[a-f0-9]{16,}$/i, /^[a-z0-9]{20,}$/i,\n];\n\nconst blockedDomains = [\n  'wixpress.com', 'wix.com', 'parastorage.com', 'sentry.io', 'sentry-cdn.com',\n  'cloudflare.com', 'cloudfront.net', 'google.com', 'google.ru', 'googleapis.com',\n  'googleusercontent.com', 'gstatic.com', 'googletagmanager.com', 'google-analytics.com',\n  'doubleclick.net', 'googlesyndication.com', 'yandex.net', 'duckduckgo.com', 'bing.com',\n  'example.com', 'example.org', 'example.net', 'example.ru', 'domain.com', 'domain.ru',\n  'site.ru', 'mail.com', 'jsdelivr.net', 'unpkg.com', 'jquery.com', 'cdnjs.cloudflare.com',\n  'w3.org', 'schema.org', 'ogp.me', 'fbcdn.net', 'ytimg.com', 'vkuser.net',\n  'segment.io', 'segment.com', 'amplitude.com', 'mixpanel.com', 'hotjar.com', 'newrelic.com',\n  'tildacdn.com', 'tildacdn.info',\n];\n\nconst decodeHtmlEntitiesLite = (text) =>\n  String(text || '')\n    .replace(/&amp;/gi, '&').replace(/&quot;/gi, '\"').replace(/&#39;/gi, \"'\")\n    .replace(/&lt;/gi, '<').replace(/&gt;/gi, '>')\n    .replace(/&#x([0-9a-f]+);/gi, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#(\\d+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)));\n\nconst decodeCfEmail = (hexString) => {\n  try {\n    if (!hexString || hexString.length < 4 || hexString.length % 2 !== 0) return '';\n    const key = parseInt(hexString.slice(0, 2), 16);\n    let decoded = '';\n    for (let i = 2; i < hexString.length; i += 2) {\n      decoded += String.fromCharCode(parseInt(hexString.slice(i, i + 2), 16) ^ key);\n    }\n    return decoded;\n  } catch { return ''; }\n};\n\nconst normalizeEmail = (value) => {\n  if (!value) return '';\n  let email = String(value).trim();\n  email = decodeHtmlEntitiesLite(email);\n  email = email\n    .replace(/^mailto:/i, '')\n    .replace(/^['\"\\s<>()\\[\\]{}]+|['\"\\s<>()\\[\\]{}.,;:!]+$/g, '')\n    .replace(/\\u200b|\\u200c|\\u200d|\\ufeff/g, '')\n    .toLowerCase();\n  if (!/@/.test(email) || /\\s/.test(email) || email.length > 254) return '';\n  if (!emailValidationRegex.test(email)) return '';\n  return email;\n};\n\nconst isBlocked = (email) => {\n  if (!email) return true;\n  const parts = email.split('@');\n  if (parts.length !== 2) return true;\n  const local = parts[0] || '';\n  const domain = (parts[1] || '').toLowerCase();\n  if (blockedLocalPatterns.some((rx) => rx.test(local))) return true;\n  if (blockedDomains.some((d) => domain === d || domain.endsWith('.' + d))) return true;\n  return false;\n};\n\nconst collectByRegex = (text, regex, mapFn) => {\n  const found = [];\n  for (const m of String(text || '').matchAll(regex)) {\n    const candidate = mapFn(m);\n    if (!candidate) continue;\n    const email = normalizeEmail(candidate);\n    if (email && !isBlocked(email)) found.push(email);\n  }\n  return found;\n};\n\nconst extractFromJsonLikeScripts = (html) => {\n  const found = new Set();\n  const scriptRegex = /<script\\b([^>]*)>([\\s\\S]*?)<\\/script>/gi;\n  const stateMarkerRegex = /__NEXT_DATA__|__INITIAL_STATE__|__NUXT__|__APOLLO_STATE__|__REDUX_STATE__|__PRELOADED_STATE__|__SERVER_STATE__/i;\n  const walk = (node) => {\n    if (!node) return;\n    if (typeof node === 'string') {\n      const emails = node.match(emailRegex) || [];\n      for (const e of emails) { const n = normalizeEmail(e); if (n && !isBlocked(n)) found.add(n); }\n      emailRegex.lastIndex = 0;\n      return;\n    }\n    if (Array.isArray(node)) return node.forEach(walk);\n    if (typeof node === 'object') return Object.values(node).forEach(walk);\n  };\n  for (const m of String(html || '').matchAll(scriptRegex)) {\n    const attrs = String(m[1] || '');\n    const scriptBody = String(m[2] || '').trim();\n    if (!scriptBody) continue;\n    const hasMarker = stateMarkerRegex.test(attrs) || stateMarkerRegex.test(scriptBody);\n    if (!hasMarker) continue;\n    const candidates = [scriptBody];\n    const assignMatch = scriptBody.match(/(?:window\\.)?__(?:NUXT__|INITIAL_STATE__|APOLLO_STATE__|REDUX_STATE__|PRELOADED_STATE__|SERVER_STATE__)\\s*=\\s*([\\s\\S]*?);?\\s*$/i);\n    if (assignMatch && assignMatch[1]) candidates.push(assignMatch[1].trim());\n    let parsed = false;\n    for (const candidate of candidates) {\n      try { walk(JSON.parse(candidate)); parsed = true; break; } catch {}\n    }\n    if (parsed) continue;\n    const inline = scriptBody.match(emailRegex) || [];\n    for (const e of inline) { const n = normalizeEmail(e); if (n && !isBlocked(n)) found.add(n); }\n    emailRegex.lastIndex = 0;\n  }\n  return Array.from(found);\n};\n\nconst extractEmailsFromText = (text) => {\n  const found = new Set();\n  const raw = String(text || '');\n  const decodedEntity = decodeHtmlEntitiesLite(raw);\n  let decodedUri = decodedEntity;\n  try { decodedUri = decodeURIComponent(decodedEntity); } catch {}\n  const variants = [raw, decodedEntity, decodedUri];\n  for (const variant of variants) {\n    for (const m of variant.match(emailRegex) || []) {\n      const n = normalizeEmail(m);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    emailRegex.lastIndex = 0;\n    for (const m of variant.matchAll(mailtoRegex)) {\n      const n = normalizeEmail((m[1] || '').split('?')[0]);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    for (const m of variant.matchAll(obfuscatedEmailRegexEn)) {\n      const n = normalizeEmail(`${m[1] || ''}@${m[2] || ''}.${m[3] || ''}`);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    for (const m of variant.matchAll(obfuscatedEmailRegexRu)) {\n      const n = normalizeEmail(`${m[1] || ''}@${m[2] || ''}.${m[3] || ''}`);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    for (const m of variant.matchAll(ruLabelRegex)) {\n      const n = normalizeEmail(m[1] || '');\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    for (const e of collectByRegex(variant, dataAttrRegex, (m) => m[1])) found.add(e);\n    for (const e of collectByRegex(variant, itempropEmailRegex, (m) => m[1] || m[2])) found.add(e);\n    for (const m of variant.matchAll(cfEncodedRegex)) {\n      const d = decodeCfEmail(m[1] || ''); const n = normalizeEmail(d);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n    for (const m of variant.matchAll(cfemailHrefRegex)) {\n      const d = decodeCfEmail(m[1] || ''); const n = normalizeEmail(d);\n      if (n && !isBlocked(n)) found.add(n);\n    }\n  }\n  return Array.from(found);\n};\n\nconst extractFromJsonLd = (html) => {\n  const found = new Set();\n  const blockRegex = /<script\\b[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  const walk = (node) => {\n    if (!node) return;\n    if (typeof node === 'string') {\n      const matches = node.match(emailRegex) || [];\n      for (const m of matches) { const n = normalizeEmail(m); if (n && !isBlocked(n)) found.add(n); }\n      emailRegex.lastIndex = 0; return;\n    }\n    if (Array.isArray(node)) return node.forEach(walk);\n    if (typeof node === 'object') return Object.values(node).forEach(walk);\n  };\n  for (const match of String(html || '').matchAll(blockRegex)) {\n    const jsonText = String(match[1] || '').trim();\n    if (!jsonText) continue;\n    try { walk(JSON.parse(jsonText)); } catch {\n      const inner = jsonText.match(emailRegex) || [];\n      for (const e of inner) { const n = normalizeEmail(e); if (n && !isBlocked(n)) found.add(n); }\n      emailRegex.lastIndex = 0;\n    }\n  }\n  return Array.from(found);\n};\n\nconst rankEmails = (emails, domainsHint) => {\n  const hints = new Set((domainsHint || []).map((d) => String(d || '').toLowerCase().replace(/^www\\./, '')).filter(Boolean));\n  const preferredLocals = /^(info|contact|hello|support|sales|office|mail|admin)$/i;\n  const noisyLocals = /^(noreply|no-reply|donotreply|mailer-daemon|example|test)$/i;\n  const score = (email) => {\n    const [local, domainRaw] = String(email || '').toLowerCase().split('@');\n    const domain = (domainRaw || '').replace(/^www\\./, '');\n    let s = 0;\n    if (hints.has(domain)) s += 120;\n    for (const hint of hints) {\n      if (domain.endsWith('.' + hint) || hint.endsWith('.' + domain)) { s += 100; break; }\n    }\n    if (preferredLocals.test(local || '')) s += 40;\n    if ((local || '').length <= 4) s += 5;\n    if (/\\d{3,}/.test(local || '')) s -= 12;\n    if (noisyLocals.test(local || '')) s -= 80;\n    return s;\n  };\n  return Array.from(new Set(emails || []))\n    .map((email) => ({ email, score: score(email) }))\n    .sort((a, b) => b.score - a.score || a.email.localeCompare(b.email))\n    .map((x) => x.email);\n};\n\nconst getDomainHints = (bucket) => {\n  const hints = new Set();\n  for (const url of bucket.fetchedUrls) {\n    try {\n      const host = new URL(url).hostname.replace(/^www\\./i, '').toLowerCase();\n      if (/catalog\\.api\\.2gis\\./i.test(host)) continue;\n      hints.add(host);\n    } catch {}\n  }\n  const targetHost = String(bucket.mergedJson.targetHost || '').toLowerCase().replace(/^www\\./, '');\n  if (targetHost) hints.add(targetHost);\n  return Array.from(hints);\n};\n\nconst maxHtmlLength = 1500000;\n// FIX: Key buckets by source_row_stable_key (row_number-based) to prevent\n// cross-row email collisions when two rows share the same batch sourceIndex.\nconst buckets = new Map();\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  try {\n    const item = inputItems[idx];\n    const currentJson = item.json || {};\n    // Prefer stable key (row_number string) set by Select URL node\n    const stableKey = String(currentJson.source_row_stable_key ?? currentJson.source_row_index ?? idx);\n\n    if (!buckets.has(stableKey)) {\n      buckets.set(stableKey, {\n        mergedJson: { ...currentJson },\n        emailsSet: new Set(),\n        fetchedUrls: new Set(),\n        successUrls: new Set(),\n        hasFetchError: false,\n        maxStatusCode: 0,\n        sortKey: Number(currentJson.source_row_number) || idx,\n      });\n    }\n\n    const bucket = buckets.get(stableKey);\n    bucket.mergedJson = { ...bucket.mergedJson, ...currentJson };\n\n    let htmlRaw = String(currentJson.html ?? currentJson.body ?? currentJson.data ?? currentJson.response ?? '');\n    if (htmlRaw.length > maxHtmlLength) htmlRaw = htmlRaw.slice(0, maxHtmlLength);\n\n    const statusCode = Number(currentJson.statusCode || currentJson.status || 0);\n    if (statusCode && statusCode > bucket.maxStatusCode) bucket.maxStatusCode = statusCode;\n\n    const prepared = htmlRaw\n      .replace(/<script\\b[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n      .replace(/<style\\b[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n      .replace(/<!--([\\s\\S]*?)-->/g, ' ');\n\n    for (const e of extractEmailsFromText(prepared)) bucket.emailsSet.add(e);\n    for (const e of extractFromJsonLd(htmlRaw)) bucket.emailsSet.add(e);\n    for (const e of extractFromJsonLikeScripts(htmlRaw)) bucket.emailsSet.add(e);\n\n    const fetchedUrl = String(currentJson.targetUrl || '').trim();\n    if (fetchedUrl) {\n      bucket.fetchedUrls.add(fetchedUrl);\n      const isSuccess = htmlRaw.length > 0 && (!statusCode || statusCode < 400);\n      if (isSuccess) bucket.successUrls.add(fetchedUrl);\n    }\n\n    if (currentJson.error || (statusCode && statusCode >= 400) || (!htmlRaw && fetchedUrl)) {\n      bucket.hasFetchError = true;\n    }\n  } catch (err) {\n    const fallbackJson = (inputItems[idx] && inputItems[idx].json) || {};\n    const fallbackKey = String(fallbackJson.source_row_stable_key ?? fallbackJson.source_row_index ?? idx);\n    if (!buckets.has(fallbackKey)) {\n      buckets.set(fallbackKey, {\n        mergedJson: { ...fallbackJson },\n        emailsSet: new Set(),\n        fetchedUrls: new Set(),\n        successUrls: new Set(),\n        hasFetchError: true,\n        maxStatusCode: 0,\n        sortKey: Number(fallbackJson.source_row_number) || idx,\n      });\n    }\n    const bucket = buckets.get(fallbackKey);\n    bucket.hasFetchError = true;\n    bucket.mergedJson.extract_error = String((err && err.message) || err);\n  }\n}\n\nconst stableKeys = Array.from(buckets.keys()).sort((a, b) => {\n  return (buckets.get(a).sortKey || 0) - (buckets.get(b).sortKey || 0);\n});\n\nreturn stableKeys.map((stableKey, outputIdx) => {\n  const bucket = buckets.get(stableKey);\n  const mergedJson = { ...bucket.mergedJson };\n  const newEmails = Array.from(bucket.emailsSet);\n\n  const existing1 = String(mergedJson['E-mail'] ?? mergedJson['E-mail 1'] ?? mergedJson['Email'] ?? '').trim().toLowerCase();\n  const existing2 = String(mergedJson['E-mail 2'] ?? mergedJson['Email 2'] ?? '').trim().toLowerCase();\n  const existing3 = String(mergedJson['E-mail 3'] ?? mergedJson[' E-mail 3'] ?? mergedJson['Email 3'] ?? '').trim().toLowerCase();\n\n  const existingList = [existing1, existing2, existing3].filter(Boolean);\n  const existingSet = new Set(existingList);\n\n  const ranked = rankEmails([...existingList, ...newEmails], getDomainHints(bucket));\n  const final1 = ranked[0] || '';\n  const final2 = ranked[1] || '';\n  const final3 = ranked[2] || '';\n\n  const trulyNewEmails = ranked.filter((e) => !existingSet.has(e));\n\n  mergedJson.source_row_stable_key = stableKey;\n  mergedJson.parsed_urls = Array.from(bucket.fetchedUrls);\n  mergedJson.parsed_urls_count = mergedJson.parsed_urls.length;\n  mergedJson.success_urls_count = bucket.successUrls.size;\n  mergedJson.max_status_code = bucket.maxStatusCode;\n  mergedJson.emails_array = ranked;\n  mergedJson.emails_string = ranked.join(', ');\n  mergedJson.new_emails = trulyNewEmails;\n  mergedJson.new_emails_count = trulyNewEmails.length;\n  mergedJson.email_1 = final1;\n  mergedJson.email_2 = final2;\n  mergedJson.email_3 = final3;\n  // Write to exact sheet column names so autoMapInputData maps them correctly\n  mergedJson['E-mail'] = final1;\n  mergedJson['E-mail 2'] = final2;\n  mergedJson['E-mail 3'] = final3;\n  mergedJson.ID = mergedJson.ID ?? '';\n\n  if (newEmails.length > 0) {\n    mergedJson.parse_status = trulyNewEmails.length > 0 ? 'emails_found' : 'emails_unchanged';\n  } else if (bucket.hasFetchError && bucket.successUrls.size === 0) {\n    mergedJson.parse_status = 'fetch_error';\n  } else if (bucket.fetchedUrls.size === 0) {\n    mergedJson.parse_status = 'no_url';\n  } else {\n    mergedJson.parse_status = 'no_email_found';\n  }\n\n  delete mergedJson.html;\n  delete mergedJson.body;\n  delete mergedJson.data;\n  delete mergedJson.response;\n  delete mergedJson.headers;\n\n  return { json: mergedJson, pairedItem: { item: outputIdx } };\n});\n"
      },
      "id": "8",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map((item, idx) => {\n  try {\n    const j = item.json || {};\n    return {\n      json: {\n        ...j,\n        email_1: (j['E-mail'] || j['E-mail 1'] || j['Email'] || '').toString(),\n        email_2: (j['E-mail 2'] || j['Email 2'] || '').toString(),\n        email_3: (j['E-mail 3'] || j[' E-mail 3'] || j['Email 3'] || '').toString(),\n        emails_array: [],\n        emails_string: '',\n        new_emails: [],\n        new_emails_count: 0,\n        parse_status: 'no_url',\n        parsed_urls: [],\n        parsed_urls_count: 0,\n        success_urls_count: 0,\n        max_status_code: 0,\n      },\n      pairedItem: item.pairedItem ?? { item: idx },\n    };\n  } catch (err) {\n    return { json: { ...(item.json || {}), parse_status: 'no_url', mark_no_url_error: String((err && err.message) || err) }, pairedItem: item.pairedItem ?? { item: idx } };\n  }\n});"
      },
      "id": "15",
      "name": "Mark No URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        380
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst stats = { total: items.length, emails_found: 0, no_email_found: 0, no_url: 0, fetch_error: 0, emails_unchanged: 0, other: 0 };\nconst sample = [];\nfor (const item of items) {\n  const j = item.json || {};\n  const status = j.parse_status || 'other';\n  if (stats[status] === undefined) stats.other++; else stats[status]++;\n  if (sample.length < 5 && j.new_emails_count > 0) {\n    sample.push({ row: j.row_number ?? j.source_row_number ?? '?', name: j['Наименование'] || j.name || '?', emails: j.new_emails || [] });\n  }\n}\nconsole.log('[Astra] Batch progress:', JSON.stringify(stats));\nif (sample.length) console.log('[Astra] Sample new emails:', JSON.stringify(sample));\nreturn items;"
      },
      "id": "16",
      "name": "Progress Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json[\"row_number\"] || $json[\"source_row_number\"] || \"\").toString() }}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "9",
      "name": "Has row_number?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const j = item.json || {};\n  console.log('[Astra] No row_number for row', JSON.stringify({\n    name: j['Наименование'] || j.name,\n    parse_status: j.parse_status,\n    parsed_urls_count: j.parsed_urls_count,\n  }));\n}\nreturn items;"
      },
      "id": "10",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json[\"new_emails_count\"] || 0) }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "18",
      "name": "Has new emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst sanitize = (v) => String(v == null ? '' : v).replace(/[\\u0000-\\u001f\\u007f]/g, '').replace(/\\s+/g, ' ').trim().slice(0, 320);\nreturn items.map((item, idx) => {\n  try {\n    const j = item.json || {};\n    const rowRaw = j.row_number ?? j.source_row_number ?? '';\n    const rowNumber = Number(rowRaw);\n    if (!Number.isFinite(rowNumber) || rowNumber < 1) return null;\n    return {\n      json: {\n        row_number: rowNumber,\n        'E-mail': sanitize(j.email_1),\n        'E-mail 2': sanitize(j.email_2),\n        'E-mail 3': sanitize(j.email_3),\n      },\n      pairedItem: item.pairedItem ?? { item: idx },\n    };\n  } catch (err) {\n    return null;\n  }\n}).filter(Boolean);"
      },
      "id": "17",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1RDa3Ui_N4wXK5tzeeyNoXjUknjFoT7S62D_j38MyEjk"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "row_number",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "11",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2820,
        220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(() => ({ json: {} }));"
      },
      "id": "19",
      "name": "Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3020,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "20",
      "name": "Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3220,
        300
      ],
      "webhookId": "throttle-loop"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Has Empty Email Slot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Empty Email Slot?": {
      "main": [
        [
          {
            "node": "Select URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select URL": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark No URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark No URL": {
      "main": [
        [
          {
            "node": "Progress Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "Progress Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Log": {
      "main": [
        [
          {
            "node": "Has row_number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has row_number?": {
      "main": [
        [
          {
            "node": "Has new emails?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has new emails?": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup": {
      "main": [
        [
          {
            "node": "Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "executionTimeout": -1
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "astra-email-extractor-v2-fixed"
}