Astra_Email_Extractor_v1_FINAL.json
{
  "name": "Astra Email Extractor v1",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        }
      },
      "id": "2",
      "name": "Get Row(s)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 10
      },
      "id": "3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"E-mail\"] || $json[\"E-mail 1\"] || ''}}",
              "operation": "isEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "4",
      "name": "E-mail 1 is empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\n\nconst preferredKeys = [\n  'Веб-сайт 1',\n  'Веб-сайт 2',\n  'Веб-сайт 3',\n  'Веб-сайт',\n  '2GIS URL',\n  'Сайт 1',\n  'Сайт 2',\n  'Сайт 3',\n  'Сайт',\n  'Website 1',\n  'Website 2',\n  'Website 3',\n  'Website',\n  'Site 1',\n  'Site 2',\n  'Site 3',\n  'Site',\n  'URL',\n  'Url',\n  'url',\n  'Вконтакте',\n  'VK',\n  'vk'\n];\n\nconst hintKeyRegex = /(сайт|веб|website|site|url|вк|vk|instagram|facebook|telegram|linkedin)/i;\nconst socialHostRegex = /^(?:www\\.)?(vk\\.com|m\\.vk\\.com|t\\.me|telegram\\.me|instagram\\.com|facebook\\.com|linkedin\\.com)$/i;\nconst deepPaths = [\n  '/contacts',\n  '/contact',\n  '/about',\n  '/about-us',\n  '/company/contacts',\n  '/kontakty',\n  '/o-kompanii',\n  '/ru/contacts'\n];\n\nconst maxSeedUrlsPerRow = 6;\nconst maxCrawlUrlsPerRow = 20;\n\nconst clean = (value) => String(value ?? '').trim();\n\nconst trimToken = (value) =>\n  clean(value).replace(/^[\\s\"'<>()[\\]{}]+|[\\s\"'<>()[\\]{}.,;:!]+$/g, '');\n\nconst normalizeUrl = (value) => {\n  let normalized = trimToken(value);\n  if (!normalized) return '';\n\n  if (!/^https?:\\/\\//i.test(normalized)) {\n    normalized = 'https://' + normalized.replace(/^\\/+/, '');\n  }\n\n  try {\n    const parsed = new URL(normalized);\n    if (!parsed.hostname || !parsed.hostname.includes('.')) return '';\n    parsed.hash = '';\n    return parsed.toString();\n  } catch {\n    return '';\n  }\n};\n\nconst canonicalUrlKey = (url) => {\n  try {\n    const parsed = new URL(url);\n    const host = parsed.hostname.toLowerCase();\n    const pathname = parsed.pathname.replace(/\\/+$/g, '') || '/';\n    const search = parsed.search || '';\n    return host + pathname + search;\n  } catch {\n    return String(url || '').toLowerCase();\n  }\n};\n\nconst extractUrlTokens = (value) => {\n  const raw = clean(value);\n  if (!raw) return [];\n\n  const tokens = new Set();\n\n  const splitParts = raw\n    .split(/[\\n,;|]+/)\n    .map(trimToken)\n    .filter(Boolean);\n\n  for (const part of splitParts) {\n    const normalized = normalizeUrl(part);\n    if (normalized) tokens.add(normalized);\n  }\n\n  const directMatches = raw.match(/https?:\\/\\/[^\\s\"'<>]+/gi) || [];\n  for (const match of directMatches) {\n    const normalized = normalizeUrl(match);\n    if (normalized) tokens.add(normalized);\n  }\n\n  const domainMatches = raw.match(/(?:[a-z0-9-]+\\.)+[a-z]{2,}(?:\\/[^\\s\"'<>]*)?/gi) || [];\n  for (const match of domainMatches) {\n    const normalized = normalizeUrl(match);\n    if (normalized) tokens.add(normalized);\n  }\n\n  return Array.from(tokens);\n};\n\nconst buildSearchFallbackUrl = (row) => {\n  const query = [\n    clean(row['Наименование'] ?? row['Название'] ?? row['name']),\n    clean(row['Город'] ?? row['city']),\n    clean(row['Телефон 1'] ?? row['Телефон'] ?? row['phone'])\n  ]\n    .filter(Boolean)\n    .join(' ');\n\n  if (!query) return '';\n\n  return 'https://duckduckgo.com/html/?q=' + encodeURIComponent(query + ' официальный сайт контакты email vk');\n};\n\nconst buildDeepEntries = (seedUrl) => {\n  const deepEntries = [];\n\n  try {\n    const parsed = new URL(seedUrl);\n    const host = parsed.hostname.toLowerCase();\n\n    if (socialHostRegex.test(host)) {\n      if (/vk\\.com$|m\\.vk\\.com$/i.test(host)) {\n        const slug = parsed.pathname.replace(/^\\/+|\\/+$/g, '');\n        if (slug) {\n          const mobileUrl = normalizeUrl('https://m.vk.com/' + slug);\n          if (mobileUrl) {\n            deepEntries.push({ url: mobileUrl, depth: 1, source: 'vk-mobile' });\n          }\n        }\n      }\n      return deepEntries;\n    }\n\n    const origin = parsed.origin;\n    for (const path of deepPaths) {\n      const deepUrl = normalizeUrl(origin + path);\n      if (deepUrl) {\n        deepEntries.push({ url: deepUrl, depth: 1, source: 'deep:' + path });\n      }\n    }\n  } catch {\n    return deepEntries;\n  }\n\n  return deepEntries;\n};\n\nconst outputItems = [];\n\ninputItems.forEach((item, sourceIndex) => {\n  const row = item.json || {};\n  const seedCanonicalSet = new Set();\n  const seedCandidates = [];\n\n  const pushSeed = (url, sourceTag) => {\n    if (!url || seedCandidates.length >= maxSeedUrlsPerRow) return;\n\n    const key = canonicalUrlKey(url);\n    if (!key || seedCanonicalSet.has(key)) return;\n\n    seedCanonicalSet.add(key);\n    seedCandidates.push({ url, sourceTag });\n  };\n\n  for (const key of preferredKeys) {\n    if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n    if (!Object.prototype.hasOwnProperty.call(row, key)) continue;\n\n    const urls = extractUrlTokens(row[key]);\n    for (const url of urls) {\n      pushSeed(url, 'key:' + key);\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n    }\n  }\n\n  if (seedCandidates.length < maxSeedUrlsPerRow) {\n    for (const [key, value] of Object.entries(row)) {\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      if (!hintKeyRegex.test(key)) continue;\n\n      const urls = extractUrlTokens(value);\n      for (const url of urls) {\n        pushSeed(url, 'hint:' + key);\n        if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      }\n    }\n  }\n\n  if (seedCandidates.length < maxSeedUrlsPerRow) {\n    for (const value of Object.values(row)) {\n      if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n\n      const urls = extractUrlTokens(value);\n      for (const url of urls) {\n        pushSeed(url, 'any-value');\n        if (seedCandidates.length >= maxSeedUrlsPerRow) break;\n      }\n    }\n  }\n\n  if (seedCandidates.length === 0) {\n    const fallback = normalizeUrl(buildSearchFallbackUrl(row));\n    if (fallback) {\n      pushSeed(fallback, 'search-fallback');\n    }\n  }\n\n  const crawlSet = new Set();\n  const crawlEntries = [];\n\n  const pushCrawl = (entry, seed, seedIndex) => {\n    if (!entry?.url || crawlEntries.length >= maxCrawlUrlsPerRow) return;\n\n    const key = canonicalUrlKey(entry.url);\n    if (!key || crawlSet.has(key)) return;\n\n    crawlSet.add(key);\n\n    let targetHost = '';\n    try {\n      targetHost = new URL(entry.url).hostname.replace(/^www\\./i, '').toLowerCase();\n    } catch {\n      targetHost = '';\n    }\n\n    crawlEntries.push({\n      json: {\n        ...row,\n        targetUrl: entry.url,\n        targetHost,\n        seed_url: seed.url,\n        seed_source: seed.sourceTag,\n        crawl_depth: entry.depth,\n        url_source: entry.depth === 0 ? seed.sourceTag : entry.source,\n        url_detected: true,\n        source_row_index: sourceIndex,\n        source_url_rank: seedIndex + 1,\n        source_urls_count: seedCandidates.length,\n      },\n      pairedItem: { item: sourceIndex },\n    });\n  };\n\n  const deepPerSeed = [];\n\n  for (let seedIndex = 0; seedIndex < seedCandidates.length; seedIndex++) {\n    const seed = seedCandidates[seedIndex];\n    pushCrawl({ url: seed.url, depth: 0, source: 'seed' }, seed, seedIndex);\n    deepPerSeed[seedIndex] = buildDeepEntries(seed.url);\n  }\n\n  let deepCursor = 0;\n  let addedAny = true;\n\n  while (crawlEntries.length < maxCrawlUrlsPerRow && addedAny) {\n    addedAny = false;\n\n    for (let seedIndex = 0; seedIndex < seedCandidates.length; seedIndex++) {\n      if (crawlEntries.length >= maxCrawlUrlsPerRow) break;\n\n      const deepList = deepPerSeed[seedIndex] || [];\n      const deepEntry = deepList[deepCursor];\n      if (!deepEntry) continue;\n\n      pushCrawl(deepEntry, seedCandidates[seedIndex], seedIndex);\n      addedAny = true;\n    }\n\n    deepCursor += 1;\n  }\n\n  if (crawlEntries.length === 0) {\n    outputItems.push({\n      json: {\n        ...row,\n        targetUrl: '',\n        targetHost: '',\n        seed_url: '',\n        seed_source: 'none',\n        crawl_depth: 0,\n        url_source: 'none',\n        url_detected: false,\n        source_row_index: sourceIndex,\n        source_url_rank: 1,\n        source_urls_count: 1,\n      },\n      pairedItem: { item: sourceIndex },\n    });\n  } else {\n    outputItems.push(...crawlEntries);\n  }\n});\n\nreturn outputItems;"
      },
      "id": "5",
      "name": "Select URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"targetUrl\"]}}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "6",
      "name": "Valid URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const raw = $json[\"targetUrl\"] || $json[\"Веб-сайт 1\"] || $json[\"Веб-сайт 2\"] || $json[\"Веб-сайт 3\"] || $json[\"Веб-сайт\"] || $json[\"2GIS URL\"] || $json[\"Website 1\"] || $json[\"Website 2\"] || $json[\"Website 3\"] || $json[\"Website\"] || $json[\"URL\"] || $json[\"Url\"] || $json[\"url\"] || \"https://duckduckgo.com/\"; const v = String(raw ?? \"\").trim(); if (!v) return \"https://duckduckgo.com/\"; return /^https?:\\/\\//i.test(v) ? v : `https://${v.replace(/^\\/+/,'')}`; })() }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            }
          ]
        },
        "options": {
          "timeout": 45000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 10
            }
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html",
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "7",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\nconst sourceItems = $items('Select URL', 0, $runIndex) || [];\nconst emailRegex = /[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}/gi;\nconst obfuscatedEmailRegex = /([a-z0-9._%+-]+)\\s*(?:\\[at\\]|\\(at\\)|\\sat\\s|\\{@\\})\\s*([a-z0-9.-]+)\\s*(?:\\[dot\\]|\\(dot\\)|\\sdot\\s|\\{\\.\\})\\s*([a-z]{2,})/gi;\n\nconst blockedDomains = [\n  '2gis.ru',\n  'wixpress.com',\n  'sentry.io',\n  'cloudflare.com',\n  'google.com',\n  'google.ru',\n  'yandex.ru',\n  'duckduckgo.com',\n  'bing.com',\n  'example.com',\n  'example.org',\n  'example.net'\n];\n\nconst blockedLocalStarts = ['noreply', 'no-reply', 'donotreply', 'do-not-reply'];\n\nconst normalizeEmail = (value) =>\n  String(value)\n    .toLowerCase()\n    .replace(/^[\\s\"'<>()[\\]{}.,;:!]+|[\\s\"'<>()[\\]{}.,;:!]+$/g, '');\n\nconst isBlocked = (email) => {\n  if (!email || !email.includes('@')) return true;\n\n  const [local, domainRaw] = email.split('@');\n  const domain = String(domainRaw || '').toLowerCase();\n  const localPart = String(local || '').toLowerCase();\n\n  if (!localPart || !domain) return true;\n  if (blockedLocalStarts.some((prefix) => localPart.startsWith(prefix))) return true;\n\n  return blockedDomains.some((blocked) => domain === blocked || domain.endsWith('.' + blocked));\n};\n\nconst resolvePairedIndex = (item, fallbackIndex) => {\n  const paired = item.pairedItem;\n\n  if (typeof paired === 'number') return paired;\n  if (paired && typeof paired === 'object' && typeof paired.item === 'number') return paired.item;\n  if (Array.isArray(paired) && paired[0] && typeof paired[0].item === 'number') return paired[0].item;\n\n  return fallbackIndex;\n};\n\nconst decodeHtmlEntitiesLite = (text) =>\n  String(text)\n    .replace(/&commat;/gi, '@')\n    .replace(/&#64;/g, '@')\n    .replace(/&#x40;/gi, '@')\n    .replace(/&dot;/gi, '.')\n    .replace(/&#46;/g, '.')\n    .replace(/&#x2e;/gi, '.');\n\nconst extractEmailsFromText = (text) => {\n  const found = new Set();\n\n  const raw = String(text || '');\n  const decodedEntity = decodeHtmlEntitiesLite(raw);\n  let decodedUri = decodedEntity;\n\n  try {\n    decodedUri = decodeURIComponent(decodedEntity);\n  } catch {\n    decodedUri = decodedEntity;\n  }\n\n  const variants = [raw, decodedEntity, decodedUri];\n\n  for (const variant of variants) {\n    const normalizedVariant = String(variant || '');\n\n    const normalMatches = normalizedVariant.match(emailRegex) || [];\n    for (const match of normalMatches) {\n      const email = normalizeEmail(match);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n\n    const mailtoMatches = normalizedVariant.match(/mailto:[^\\s\"'<>]+/gi) || [];\n    for (const match of mailtoMatches) {\n      const rawMail = match.replace(/^mailto:/i, '').split('?')[0];\n      const email = normalizeEmail(rawMail);\n      if (email && !isBlocked(email)) found.add(email);\n    }\n\n    for (const obf of normalizedVariant.matchAll(obfuscatedEmailRegex)) {\n      const local = normalizeEmail(obf[1] || '');\n      const domain = normalizeEmail(obf[2] || '');\n      const zone = normalizeEmail(obf[3] || '');\n      const reconstructed = normalizeEmail(local + '@' + domain + '.' + zone);\n      if (reconstructed && !isBlocked(reconstructed)) found.add(reconstructed);\n    }\n  }\n\n  return Array.from(found);\n};\n\nconst buckets = new Map();\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  const item = inputItems[idx];\n  const inputIndex = resolvePairedIndex(item, idx);\n  const sourceRow = sourceItems[inputIndex]?.json || {};\n  const currentJson = item.json || {};\n  const mergedJson = { ...sourceRow, ...currentJson };\n\n  const explicitSourceIndex = Number(mergedJson.source_row_index);\n  const sourceIndex = Number.isInteger(explicitSourceIndex) && explicitSourceIndex >= 0\n    ? explicitSourceIndex\n    : inputIndex;\n\n  if (!buckets.has(sourceIndex)) {\n    buckets.set(sourceIndex, {\n      mergedJson: { ...mergedJson },\n      emailsSet: new Set(),\n      fetchedUrls: new Set(),\n      hasFetchError: false,\n    });\n  }\n\n  const bucket = buckets.get(sourceIndex);\n  bucket.mergedJson = { ...bucket.mergedJson, ...mergedJson };\n\n  const htmlRaw = String(\n    mergedJson.html ?? mergedJson.body ?? mergedJson.data ?? mergedJson.response ?? ''\n  );\n\n  const prepared = htmlRaw\n    .replace(/<script\\b[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style\\b[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<!--([\\s\\S]*?)-->/g, ' ');\n\n  const extracted = extractEmailsFromText(prepared);\n  for (const email of extracted) {\n    bucket.emailsSet.add(email);\n  }\n\n  const fetchedUrl = String(mergedJson.targetUrl || '').trim();\n  if (fetchedUrl) bucket.fetchedUrls.add(fetchedUrl);\n\n  if (mergedJson.error) {\n    bucket.hasFetchError = true;\n  }\n}\n\nconst sourceIndexes = Array.from(buckets.keys()).sort((a, b) => a - b);\n\nreturn sourceIndexes.map((sourceIndex) => {\n  const bucket = buckets.get(sourceIndex);\n  const mergedJson = { ...bucket.mergedJson };\n  const deduped = Array.from(bucket.emailsSet);\n\n  mergedJson.source_row_index = sourceIndex;\n  mergedJson.parsed_urls = Array.from(bucket.fetchedUrls);\n  mergedJson.parsed_urls_count = mergedJson.parsed_urls.length;\n\n  mergedJson.emails_array = deduped;\n  mergedJson.emails_string = deduped.join(', ');\n  mergedJson.email_1 = deduped[0] || '';\n  mergedJson.email_2 = deduped[1] || '';\n  mergedJson.ID = mergedJson.ID ?? '';\n\n  mergedJson.parse_status = deduped.length > 0\n    ? 'emails_found'\n    : bucket.hasFetchError\n      ? 'fetch_error_or_no_email'\n      : 'no_email_found';\n\n  delete mergedJson.html;\n  delete mergedJson.body;\n  delete mergedJson.data;\n  delete mergedJson.response;\n\n  return {\n    json: mergedJson,\n    pairedItem: { item: sourceIndex },\n  };\n});"
      },
      "id": "8",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Наименование\"] || $json[\"row_number\"] || $json[\"ID\"] || ''}}",
              "operation": "isNotEmpty",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "9",
      "name": "ID present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\ninputItems.forEach((item) => {\n  console.log('Missing ID, skipping row', item.json);\n});\nreturn inputItems;"
      },
      "id": "10",
      "name": "Log Missing ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Наименование",
        "valueToMatchOn": "={{$json[\"Наименование\"] || ''}}",
        "fieldsUi": {
          "values": [
            {
              "column": "E-mail",
              "fieldValue": "={{$json[\"email_1\"] || $json[\"E-mail\"] || \"\"}}"
            },
            {
              "column": "Email 2",
              "fieldValue": "={{$json[\"email_2\"] || \"\"}}"
            }
          ]
        }
      },
      "id": "11",
      "name": "Update Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2120,
        180
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "E-mail 1 is empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mail 1 is empty?": {
      "main": [
        [
          {
            "node": "Select URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select URL": {
      "main": [
        [
          {
            "node": "Valid URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid URL?": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "ID present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID present?": {
      "main": [
        [
          {
            "node": "Update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Missing ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Missing ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "1"
}
